<!doctype html>
<html>
<head>
	<title>Project Collab - Home</title>
	<meta charset="UTF-8">
<style>
html {
	height: 100%;
}
* {
	padding: 0;
	margin: 0;
}
body {
	background: -webkit-radial-gradient(circle, #666, #2F2727);
	font-family: Tahoma;
}
</style>
</head>
<body>
	<div id="loginContainer">
		<h1 class="title">Login</h1>
		<div id="login">
			<form method="post" action="login.php">
				<input type="text" value="" name="username" placeholder="Username" />
				<input type="password" value="" name="password" placeholder="Password" />
				<input type="submit" value="Login" id="submit" />
			</form>
		</div><!-- end login -->
	</div><!-- end loginContainer -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		
	});
</script>
</body>
</html>